In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import janitor

In [2]:
df = pd.read_csv("../data/room_occupancy.csv").clean_names()

In [3]:
df.head()

   temperature  humidity       light         co2  humidityratio  occupancy
0      23.7000    26.272  585.200000  749.200000       0.004764          1
1      23.7180    26.290  578.400000  760.400000       0.004773          1
2      23.7300    26.230  572.666667  769.666667       0.004765          1
3      23.7225    26.125  493.750000  774.750000       0.004744          1
4      23.7540    26.200  488.600000  779.000000       0.004767          1

In [4]:
df = df.rename(columns={"occupancy":"target"})

In [5]:
df.columns

Index(['temperature', 'humidity', 'light', 'co2', 'humidityratio', 'target'], dtype='object')

In [6]:
df

      temperature   humidity       light          co2  humidityratio  target
0       23.700000  26.272000  585.200000   749.200000       0.004764       1
1       23.718000  26.290000  578.400000   760.400000       0.004773       1
2       23.730000  26.230000  572.666667   769.666667       0.004765       1
3       23.722500  26.125000  493.750000   774.750000       0.004744       1
4       23.754000  26.200000  488.600000   779.000000       0.004767       1
...           ...        ...         ...          ...            ...     ...
2660    24.290000  25.700000  808.000000  1150.250000       0.004829       1
2661    24.330000  25.736000  809.800000  1129.200000       0.004848       1
2662    24.330000  25.700000  817.000000  1125.800000       0.004841       1
2663    24.356667  25.700000  813.000000  1123.000000       0.004849       1
2664    24.408333  25.681667  798.000000  1124.000000       0.004860       1

[2665 rows x 6 columns]

In [7]:
df.columns

Index(['temperature', 'humidity', 'light', 'co2', 'humidityratio', 'target'], dtype='object')

In [8]:
train, test = train_test_split(df, train_size = 0.8, random_state = 42)

In [9]:
train.to_csv("../data/train.csv", index=False)
test.to_csv("../data/test.csv", index=False)

In [10]:
train["target"].value_counts()

0    1343
1     789
Name: target, dtype: int64

In [11]:
test["target"].value_counts()

0    350
1    183
Name: target, dtype: int64