In [2]:
from sklearn.feature_selection import SelectFromModel
from sklearn.feature_selection import RFE, RFECV
from sklearn.linear_model import RidgeCV, LassoCV, Lasso, Ridge
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv("../data/train_fe.csv")

In [4]:
train

,education,joiningyear,paymenttier,experienceincurrentdomain,everbenched,city_Bangalore,city_New Delhi,city_Pune,leaveornot
0,0.0,0.0,2.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.0,6.0,2.0,4.0,0.0,1.0,0.0,0.0,1.0
2,0.0,4.0,2.0,5.0,0.0,0.0,0.0,1.0,0.0
3,0.0,4.0,2.0,4.0,0.0,1.0,0.0,0.0,0.0
4,0.0,5.0,2.0,5.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
3717,1.0,5.0,2.0,5.0,0.0,0.0,1.0,0.0,1.0
3718,0.0,4.0,2.0,4.0,1.0,1.0,0.0,0.0,0.0
3719,1.0,3.0,2.0,4.0,0.0,0.0,0.0,1.0,1.0
3720,0.0,2.0,2.0,4.0,0.0,1.0,0.0,0.0,0.0
3721,0.0,3.0,2.0,4.0,0.0,1.0,0.0,0.0,0.0

In [5]:
X = train.drop("leaveornot", axis = 1)
y = train["leaveornot"]

In [6]:
estimator = Lasso()

In [7]:
selector = RFECV(estimator, step=3, cv = 5)
selector = selector.fit(X, y)

In [10]:
selector.get_feature_names_out()

array(['city_Pune'], dtype=object)

In [11]:
selector.ranking_

array([4, 4, 4, 3, 3, 3, 2, 1])