In [1]:
import pandas as pd
from imblearn.over_sampling import SMOTE
from collections import Counter
import numpy

In [2]:
data = pd.read_csv("../data/train_fe.csv")

In [3]:
x_train, y_train = data.drop("target", axis = 1), data["target"]

In [4]:
count = Counter(y_train)
print("Before", count)

Before Counter({0.0: 1343, 1.0: 789})

In [5]:
smt = SMOTE()
x_train_sm, y_train_sm = smt.fit_resample(x_train, y_train)

In [6]:
count = Counter(y_train_sm)
print("After", count)

After Counter({1.0: 1343, 0.0: 1343})

In [7]:
x_train_sm["target"] = y_train_sm

In [8]:
train_sm = x_train_sm.copy()

In [9]:
train_sm.to_csv("../data/train_big.csv", index=False)

In [10]:
import random
import numpy as np

In [11]:
zero_data = data[data["target"] == 0.0].reset_index(drop=True)
one_data = data[data["target"] == 1.0].reset_index(drop=True)

In [12]:
numbers = np.random.randint(0,high=len(zero_data), size=len(one_data))

In [13]:
zero_data = zero_data.loc[numbers,:].reset_index(drop=True)

In [14]:
new_data = pd.concat([zero_data, one_data], axis = 0).reset_index(drop=True)
new_data

      temperature  humidity     light       co2  humidityratio  target
0        0.530266  0.850894  0.000000  0.778661       0.837370     0.0
1        0.314770  0.633058  0.000000  0.415662       0.550666     0.0
2        0.072639  0.035636  0.000000  0.007284       0.017525     0.0
3        0.217918  0.149373  0.000000  0.099513       0.158298     0.0
4        0.072639  0.030942  0.000000  0.011285       0.014351     0.0
...           ...       ...       ...       ...            ...     ...
1573     0.409201  0.682849  0.301272  0.781910       0.639574     1.0
1574     0.595642  0.931448  0.255119  0.901770       0.940422     1.0
1575     0.142857  0.287010  0.255119  0.246730       0.219897     1.0
1576     0.217918  0.297679  0.261600  0.321416       0.262490     1.0
1577     0.484262  0.580421  0.317337  0.682944       0.605299     1.0

[1578 rows x 6 columns]

In [15]:
new_data["target"].value_counts()

0.0    789
1.0    789
Name: target, dtype: int64

In [16]:
new_data.to_csv("../data/train_small.csv", index=False)